nav {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

nav {
  border-bottom: rgb(238, 168, 16) 4px solid;
}

.navbar-brand h2 {
  margin-top: 20px;
  font-family: 'Rajdhani', sans-serif;
  color: rgb(238, 168, 16);
  font-size: 40px;
}

.a-links {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  margin-right: 15px;
  letter-spacing: 4px;
}

.img-logo {
  margin-right: -50px;
  height: 40px;
  width: 70px;
}

.hov-anim::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(238, 168, 16);
  transition: width 0.3s;
}

.hov-anim:hover::after {
  width: 100%;
  transition: width 0.3s;
}

navbar {
  position: fixed;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Testing animation */

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Testing animation ending */

@media only screen and (max-width: 1024px) and (min-width: 676px) {
}

@media only screen and (max-width: 676px) and (min-width: 451px) {
  .navbar-brand h2 {
    margin: 0 auto;
    text-align: center;
  }

  .logo {
    margin-right: 10px;
    height: 30px;
    width: 45px;
  }
}

@media only screen and (max-width: 450px) {
  .navbar-brand h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
  }

  .logo {
    display: show;
    height: 40px;
    widows: 40px;
  }
}