nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
}

nav {
  border-bottom: rgb(238, 168, 16) 4px solid;
}

.navbar-brand h2 {
  margin-top: 20px;
  margin-left: -50px;
  margin-bottom: -10px;
  font-family: 'Seaweed Script', cursive;
  color: rgb(238, 168, 16);
  font-size: 40px;
}

.a-links {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  margin-right: 15px;
  letter-spacing: 4px;
}

.img-logo {
  margin-right: -50px;
  height: 70px;
  width: 70px;
}

.hov-anim::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(238, 168, 16);
  transition: width 0.3s;
}

.hov-anim:hover::after {
  width: 100%;
  transition: width 0.3s;
}

navbar {
  position: fixed;
}

@media only screen and (max-width: 1024px) and (min-width: 676px) {
}

@media only screen and (max-width: 676px) and (min-width: 330px) {
  .navbar-brand h2 {
    margin: 0 auto;
    text-align: center;
  }

  .logo {
    margin-right: 10px;
    height: 30px;
    width: 45px;
  }
}

@media only screen and (max-width: 330px) {
  .navbar-brand h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
  }
}