#footer {
  border-top: solid 5px rgb(238, 168, 16);
  background: rgba(56, 54, 54, 0.966);
  min-height: 200px;
}

.footer-block {
  margin-top: 40px;
}

#footer h2 {
  margin-top: 25px;
  color: rgb(238, 168, 16);
  font-size: 60px;
  font-family: 'Seaweed Script', cursive;
  text-align: center;
}

#footer p {
  color: white;
}

.left {
  align-content: right;
}

.right {
  align-content: left;
}

@media only screen and (max-width: 600px) {
  #footer {
    min-height: 500px
  }

  #footer h2 {
    font-size: 45px;
  }
}