.h2-landing {
  margin-top: 200px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 100px;
  text-align: center;
  font-weight: 400;
  color: rgb(238, 168, 16);
}

.landing-block {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
}

.landing-block p {
  text-align: justify;
}

.landing-block i {
  font-size: 60px;
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(238, 168, 16)
}

.landing-logo {
  margin-left: 200px;
  text-align: right;
  height: 300xp;
  width: 300px;
}

.p-landing {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
}

.landing p {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: rgb(252, 252, 252);
  font-weight: 700;
}

.img-height {
  max-height: 500px;
}
